@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body,
html {
  width: 100%;
  height: 100%;
}

.page1 {
  background-image: url("HogwartsLegacy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1 {
  color: #2b2e4a;
  font-size: 100px;
  font-family: "Redressed", cursive;
  padding-top: 150px;
}

.content-page1 {
  font-size: 25px;
  color: #53354a;
}

.content1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 75px;
}

ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}

li a {
  margin-left: 20px;
  color: #903749;
  font-size: 27px;
  transition: all 0.3s ease 0s;
  font-family: "Kiwi Maru", serif;
}

li a:hover {
  color: #e84545;
}

button {
  cursor: url("cheese.png"), auto;
}

body,
a {
  cursor: url(https://vignette.wikia.nocookie.net/harrypottervn/images/4/4c/Cursor.png/revision/latest?cb=20160624001041&path-prefix=vi),
    auto;
}

.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.page2 {
  width: 100%;
  height: 100%;
  background-image: url("hogwartsatnight2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.back-to-top {
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0, 0.7);
  font-size: 35px;
  color: whitesmoke;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 20px;
  margin-left: -25px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.back-to-top.hien-ra {
  visibility: visible;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.harry {
  justify-content: center;
  width: 250px;
  margin-left: -350px;
}
.ron {
  width: 135px;
  margin-left: -300px;
}

.hermione {
  width: 150px;
  margin-left: -300px;
}

.content-page2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.harryContent {
  width: 550px;
  height: 450px;
  background-color: #24252a;
  color: white;
  display: none;
  word-wrap: break-word;
  border-radius: 15px;
  text-align: left;
  font-family: "New Tegomin", serif;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.content-page2:hover + .harryContent {
  display: block;
  display: flex;
  margin-left: 600px;
  margin-top: -350px;
}

.prev,
.next {
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* .figure {
  position: relative;
}
.figure img.harry2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
.figure:hover img.harry2 {
  opacity: 1;
} */
